.row-header{
  margin:0px 0px;
  padding:0px auto;
}

.row-content {
  margin:0px 0px;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
  background-color: #eeeeee;
}

.footer{
  margin:0px auto;
  padding: 20px 0px 20px 0px;
 
  width: 100%;
  background-color: #4ba3c7;
}
.jumbotron {
  padding:50px 0px 50px 0px !important;
  margin:0px 0px !important;
  background-color: #81d4fa !important;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

#navbar-dark {
  background-color: #4ba3c7;
}

#navlink{
  color: black;
}

.footer li a{
  color: #0f0f0f;
}
address a{
  color: #0f0f0f;
}
#homecards{
  margin: 50px 0px 0px 0px;
}


